<% layout("/layouts/boilarplate")%>

    <body>
        <div class="body-container">
            <div class="col-10 offset-1">
                <div class="card">
                    <br>
                    <div class="col-10 offset-1">
                        <h3>
                            <%= item.title%>
                        </h3>
                        <img src="<%=item.image.url%>" class="card-img-top"
                            onerror="this.onerror=null; this.src='https://tse1.mm.bing.net/th?id=OIP.I2tP7f3fn1jxlUePw3vSdAAAAA&pid=Api&P=0&h=220';"
                            alt="Image">
                        <div class="card-body">
                            <b> owner: <%= item.owner.username %></b>
                            <ul>
                                <li>&#x20b9;<%= item.price.toLocaleString("en-IN")%>
                                </li>
                                <li>
                                  
                                    <%= item.description%>
                                </li>
                                <li>
                                    <%= item.location%>
                                </li>
                                <li>
                                    <%= item.country%>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <%if(currUser && currUser._id.equals(item.owner._id)){%>
                <div class="btns mb-3 mt-3 col-10 offset-1">
                    <a href="/listing/<%=item.id%>/edit" class="btn add-btn">edit </a>
                    <form method="POST" action="/listing/<%=item.id%>?_method=DELETE">
                        <button class="btn add-btn">Delete this Data</button>
                    </form>
                </div>
                <%}%>
                <div class="mb-3 col-10 offset-1">
                    
                    <%if(currUser){%>
                        <h4>Leave a Review</h4>
                    <hr>
                    <form action="/listing/<%=item.id%>/reviews" method="POST"  class="col-8 mb-3 mt-3 offset-2 needs-validation" novalidate>
                        <div>
                            <fieldset class="starability-grow">
                                <legend>First rating:</legend>
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                              </fieldset>
                        
                        </div>

                        <div>
                            <label class="form-label" for="comment">Comments</label>
                            <textarea name="review[comment]" class="form-control needs-validation"  id="comment" cols="30" rows="5" required></textarea>
                            <div class="invalid-feedback">
                                Please some Comment for Review
                              </div>
                        </div>
                        <button class="btn btn-outline-dark mt-3">Submit</button>
                    </form>
                    <% } %>
                    <hr>

                    <h4>All Review</h4>
                <div class="row col-10 offset-1">
                    <%for(review of item.reviews){%>
                        <div class="card mb-3 ms-5" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title"><%=review.author.username%></h5>
                                <p class="card-text">  <%=review.comment%></p>
                                <p class="card-text"> <b><%=review.rating%> star!</b></p>
                                <p class="starability-result card-text" data-rating="<%=review.rating%>">
                                    Rated:
                                  </p>
                                <form method="POST" action="/listing/<%=item._id%>/reviews/<%=review._id%>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>

                            </div>
                          </div>
                    <%}%>
                    </div>

                </div>
            </div>
    </body>
    </div>