<% layout("/layouts/boilarplate")%>

    <body>
        <div class="body-container">
            <div class="col-10 offset-1">
                <div class="card">
                    <br>
                    <div class="col-10 offset-1">
                        <h3>
                            <%= item.title%>
                        </h3>
                        <img src="<%=item.image%>" class="card-img-top"
                            onerror="this.onerror=null; this.src='https://tse1.mm.bing.net/th?id=OIP.I2tP7f3fn1jxlUePw3vSdAAAAA&pid=Api&P=0&h=220';"
                            alt="Image">
                        <div class="card-body">
                            <b> owner: <%= item.owner.username %></b>
                            <ul>
                                <li>&#x20b9;<%= item.price.toLocaleString("en-IN")%>
                                </li>
                                <li>
                                  
                                    <%= item.description%>
                                </li>
                                <li>
                                    <%= item.location%>
                                </li>
                                <li>
                                    <%= item.country%>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <%if(currUser && currUser._id.equals(item.owner._id)){%>
                <div class="btns mb-3 mt-3 col-10 offset-1">
                    <a href="/listing/<%=item.id%>/edit" class="btn add-btn">edit </a>
                    <form method="POST" action="/listing/<%=item.id%>?_method=DELETE">
                        <button class="btn add-btn">Delete this Data</button>
                    </form>
                </div>
                <%}%>
                <div class="mb-3 col-10 offset-1">
                    <h4>Leave a Review</h4>
                    <hr>

                    <form action="/listing/<%=item.id%>/reviews" method="POST"  class="col-8 mb-3 mt-3 offset-2 needs-validation" novalidate>
                        <div>
                            <label class="form-label" for="rating">Rating</label>
                            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
                        </div>
                        <div>
                            <label class="form-label" for="comment">Comments</label>
                            <textarea name="review[comment]" class="form-control needs-validation"  id="comment" cols="30" rows="5" required></textarea>
                            <div class="invalid-feedback">
                                Please some Comment for Review
                              </div>
                        </div>
                        <button class="btn btn-outline-dark mt-3">Submit</button>
                    </form>
                    <hr>

                    <h4>All Review</h4>
                <div class="row col-10 offset-1">
                    <%for(review of item.reviews){%>
                        <div class="card mb-3 ms-5" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">username</h5>
                                <p class="card-text">  <%=review.comment%></p>
                                <p class="card-text"> <b><%=review.rating%> star!</b></p>
                                <form method="POST" action="/listing/<%=item._id%>/reviews/<%=review._id%>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>

                            </div>
                          </div>
                    <%}%>
                    </div>

                </div>
            </div>
    </body>
    </div>